*.font: JetBrains Mono:size=12
xterm*FaceName: Jetbrains Mono
xterm*FaceSize: 12

*cursorColor: #9a8d88
*foreground: #fff8e7
*background: #251c1c

*color0: #1c1415
*color1: #df6576
*color2: #59c980
*color3: #f9ff8f
*color4: #6979e7
*color5: #b768df
*color6: #b0f8f7
*color7: #655956
*color8: #453a38
*color9: #fbb494
*color10: #92fb8a
*color11: #f9ff8f
*color12: #9ac8fb
*color13: #efa4ed
*color14: #b0f8f7
*color15: #fff8e7
